.Header{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.HeaderMenu a{
    display: inline;
    margin: 0 10px;
    text-decoration: none;
    color: #565673;
    font-size: 12px;
    letter-spacing: 1.2px
}

.HeaderMenu a:hover{
    color: #5f9ea0;
}

.socialIcons{
    color: #565673;
    justify-content: space-between
};
    
